[Desktop Entry]
Type=Application
Name=Thakir Prayer Times
Name[en_US]=thakir_prayer_times
Comment=Application for calculate prayer times in Algeria
Exec=thakir_prayer_times
Icon=thakir_prayer_times
Categories=Science;
Terminal=false
X-AppImage-Version=
