[Desktop Entry]
Name= Thakir Prayer Time
Name[ar]=Salah Namaz Vakitleri Hesaplayıcısı
GenericName= Thakir Prayer Time
GenericName[ar]=Namaz Vakitleri Hesaplayıcısı
Exec=thakir_prayer_times
Icon=thakir_prayer_times
Terminal=false
Type=Application
Categories=Qt;Utility;Accessibility;
Comment=WorldWide Prayer Times Calculator
Comment[ar]=Dünya Çapında Namaz Vakitleri Hesaplayıcısı



